body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#chat-container {
    width: 700px;
    margin: 0 auto;
}

#messages {
    list-style: none;
    padding: 0;
    height: 700px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#message-input {
    width: 200px;
    padding: 5px;
    border-radius: 10px;
}

#send-btn {
    padding: 5px 10px;
    background-color: #070fcc;
    color: white;
    border: none;
    border-radius: 10%;
}
